<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form" method="post" action="/register">
    <h1>Register</h1>
    <p style="font-size: 20px;">Email</p>
    <input name="loginInput" id="loginInput" style="padding: 10px;" type="email" placeholder="Enter Email">
    <h3 style="font-size: 20px;">Password </h3>
    <input name="loginPwd" id="loginPwd" style="padding: 10px;" type="password" placeholder="Enter Password"><br><br>
    <a href="./login">
        <button class="submitLogin" style="padding: 10px;" >Register</button><br><br>
    </a>
    </form>
</body>
</html>